// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.text-pointer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.text-pointer:hover {
  background-color: #CECECE;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.text2 {
  width:  50px;
  height: 50px; 
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}

.text3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: #488aff;
  color: white;
}

.text4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  padding: 8px 15px;
  background-color: #F36262 !important;
  color:white;
  cursor: pointer
}

button.large {
  padding: 10px 150px;
  left: 9px;
}

button.add-large {
  padding: 10px 150px; 
}

button.add-large2 {
  padding: 25px 150px; 
  right: 10px;
  margin-top: 2cm;
}

.but-back {
  color: #488aff;
  font-size: 50px;
  margin-left: 0.5cm;
  margin-top: 0.5cm;
  cursor: pointer;
}

.but-exit {
  color: #488aff;
  margin-right: 0.5cm;
  margin-top: 0.5cm;
  text-align: right;
  font-size: 20px;
  cursor: pointer;
}

.large-update {
  padding: 10px 35px;
  margin-top: 2px;
  margin-right: .8em;
  background-color: #488aff !important;
  color:white;
  cursor: pointer
}

.large-delete {
  padding: 10px 41px;
  margin-top: 2px;
  margin-right: .8em;
  background-color: #F36262 !important;
  color:white;
  cursor: pointer
}

.information {
  left: 152px;
}

.image {
  display: block;
  margin: 0 auto;
}
